body{
    background-color: red;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;

}
.margen-interno{
    padding: 0 50px;
}
.header{
    
   
    flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
            }
        .logo{
            color: yellow;
           text-shadow: 5px 5px black;


            flex:1 1 auto;
        }
            .logo a{
                color: white;
                font-size: 30px;
               
            } 
            .logo a:hover{
                color:#343434;
            }
        .nav{
            
            flex:5 1 auto;
             
        }
        .nav a{
            color: white;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;

        }
        .nav a:hover{
            color: #343434;
        }
        .social{
            display: flex;
            flex:1 1 auto; 
            

            
        } 
            .social a{
                font-size: 18px;
                color:white;
                padding: 0 5px;
                margin: 0 0 0 30px;
                
            }
            .social a:hover{
                color:#343434;
            }


           
                
main{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.imagen{

    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0 ,0, 0.2);
    display: flex;
   
    margin: 1.5rem;
    overflow: hidden;


}
.tarjeta{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0 ,0, 0.2);
    margin: 1.5rem;
    overflow: hidden;

}
footer{
        color:white;
        background: rgba(0, 0, 0, .1);
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.5);
        
}
